<!DOCTYPE html>
<html>
<head>
  <title>Login</title>
</head>
<body>
  <h1>Login</h1>
  <% if (msg) { %>
  <p><%= msg %></p>
  <% } %>
  <form action="/api/login" method="POST">
    <div>
      <label for="login-identifier">Username or Email:</label>
      <input type="text" id="login-identifier" name="identifier" required>
    </div>
    <div>
      <label for="login-password">Password:</label>
      <input type="password" id="login-password" name="password" required>
    </div>
    <button type="submit">Login</button>
  </form>
</body>
</html>
